# last modified 20201016 

#####################################
# run units 1 thru 4 
#####################################

run = "java -version && javac Main.java && java -cp . Main"


#####################################
# clean all
#####################################

# run = "rm *.class unit1/*.class unit1/helloworld/*.class"


#####################################
# unit 1
#####################################

# run = "javac unit1/Unit1Main.java && java -cp . unit1.Unit1Main"

# 1.3 assignment starter
########################

# run = "java -version && javac unit1/helloworld/HelloWorldGui.java && java -cp . unit1.helloworld.HelloWorldGui"

# 1.4 div mod app eclipse
#########################

# run = "javac -d ide-project/eclipse-2020-06/DivModApp/bin ide-project/eclipse-2020-06/DivModApp/src/DivModApp.java && java -cp .:ide-project/eclipse-2020-06/DivModApp/bin DivModApp"

# 1.4 div mod app netbeans
##########################

# run = "javac -d ide-project/netbeans-12/DivModApp/build/classes ide-project/netbeans-12/DivModApp/src/DivModApp.java && java -cp .:ide-project/netbeans-12/DivModApp/build/classes DivModApp"

# 1.4 div mod app intellij
##########################

# run = "javac -d ide-project/intellij-2020-1-2/DivModApp/bin -cp .:./ide-project/intellij-2020-1-2/DivModApp/bin  ide-project/intellij-2020-1-2/DivModApp/src/DivModApp.java && java -cp .:ide-project/intellij-2020-1-2/DivModApp/bin DivModApp"

# 1.5.2 roller coaster
######################

# run = "javac -d ide-project/eclipse-2020-06/RollerCoaster/bin ide-project/eclipse-2020-06/RollerCoaster/src/RollerCoaster.java && java -cp .:ide-project/eclipse-2020-06/RollerCoaster/bin/ RollerCoaster"


#####################################
# unit 2
#####################################

# run = "javac unit2/Unit2Main.java && java -cp . unit2.Unit2Main"

# 2.2 student records eclipse
#############################

# run = "javac -d ide-project/eclipse-2020-06/StudentRecords/bin ide-project/eclipse-2020-06/StudentRecords/src/StudentRecord.java && java -cp .:ide-project/eclipse-2020-06/StudentRecords/bin/ StudentRecord"

# 2.2 student records netbeans
##############################

# run = "javac -d ide-project/netbeans-12/StudentRecordsProject/build/classes ide-project/netbeans-12/StudentRecordsProject/src/StudentRecords.java && java -cp .:ide-project/netbeans-12/StudentRecordsProject/build/classes StudentRecords"

# 2.2 sum element
#################

# run = "javac -d ide-project/eclipse-2020-06/SumElement/bin ide-project/eclipse-2020-06/SumElement/src/SumElement.java && java -cp .:ide-project/eclipse-2020-06/SumElement/bin/ SumElement"

# 2.3 matching game
###################

# run = "javac -d ide-project/netbeans-12/MatchingGame/build/classes ide-project/netbeans-12/MatchingGame/src/MatchingGame.java && java -cp .:ide-project/netbeans-12/MatchingGame/build/classes MatchingGame"

# 2.5 tictactoe game
####################

# note: the window is too big for repl.it, please download and run in NetBeans first

# run = "javac -d ide-project/netbeans-12/TicTac/build/classes ide-project/netbeans-12/TicTac/src/TicTacEvent.java ide-project/netbeans-12/TicTac/src/TicTac.java && java -cp .:ide-project/netbeans-12/TicTac/build/classes TicTac"

# 2.6 ObjectArrayExample_1
##########################

# run = "javac -d ide-project/netbeans-12/ObjectArrayExample_1/build/classes ide-project/netbeans-12/ObjectArrayExample_1/src/objectarrayexample/ObjectArrayExample.java && java -cp .:ide-project/netbeans-12/ObjectArrayExample_1/build/classes objectarrayexample.ObjectArrayExample"

# 2.6 ArrayListSolution
#######################

# run = "javac -d ide-project/netbeans-12/ArrayListSolution/build/classes ide-project/netbeans-12/ArrayListSolution/src/arraylistexample/Main.java && java -cp .:ide-project/netbeans-12/ArrayListSolution/build/classes arraylistexample.Main"

# 2.6 CarsExample
#################

# see read me pdf

# notice: mkdir and cp resources

# note: upload lib/ from
#           https://search.maven.org
#       search for 
#           swing-worker-1.1.jar
#           swing-layout-1.0.3.jar
#           appframework-1.0.3.jar


# run = "mkdir -p ide-project/netbeans-12/CarsExample/build/classes && javac -d ide-project/netbeans-12/CarsExample/build/classes -cp ide-project/netbeans-12/CarsExample/lib/appframework-1.0.3.jar:ide-project/netbeans-12/CarsExample/lib/swing-worker-1.1.jar:ide-project/netbeans-12/CarsExample/lib/swing-layout-1.0.3.jar ide-project/netbeans-12/CarsExample/src/carsexample/CarsExampleApp.java ide-project/netbeans-12/CarsExample/src/carsexample/CarsExampleAboutBox.java ide-project/netbeans-12/CarsExample/src/carsexample/CarsExampleView.java && cp -r ide-project/netbeans-12/CarsExample/src/carsexample/resources ide-project/netbeans-12/CarsExample/build/classes/carsexample/ && java -cp .:ide-project/netbeans-12/CarsExample/build/classes:ide-project/netbeans-12/CarsExample/lib/appframework-1.0.3.jar:ide-project/netbeans-12/CarsExample/lib/swing-worker-1.1.jar:ide-project/netbeans-12/CarsExample/lib/swing-layout-1.0.3.jar carsexample.CarsExampleApp"


#####################################
# unit 3
#####################################

# run = "javac unit3/Unit3Main.java && java -cp . unit3.Unit3Main"

# 3.2 Hanoi
###########

# run = "javac -d ide-project/netbeans-12/Hanoi/build/classes -cp .:ide-project/netbeans-12/Hanoi/src ./ide-project/netbeans-12/Hanoi/src/hanoi/Main.java && java -cp .:./ide-project/netbeans-12/Hanoi/build/classes hanoi.Main"

# 3.2 WordScramble
##################

# run = "javac -d ide-project/netbeans-12/WordScramble/build/classes -cp .:ide-project/netbeans-12/WordScramble/src ./ide-project/netbeans-12/WordScramble/src/wordscramble/Main.java && java -cp .:./ide-project/netbeans-12/WordScramble/build/classes wordscramble.Main"

# 3.3 LinearSearch
##################

run = "javac -d unit3/LinearSearch/build/classes -cp unit3/LinearSearch/src unit3/LinearSearch/src/linearsearch/LinearSearch.java && java -cp unit3/LinearSearch/build/classes linearsearch.LinearSearch"

# 3.3 BinarySearch
##################

run = "javac -d unit3/BinarySearch/build/classes -cp unit3/BinarySearch/src unit3/BinarySearch/src/binarysearch/BinarySearch.java && java -cp unit3/BinarySearch/build/classes binarysearch.BinarySearch"

# 3.3 BinarySearchIteration
###########################

run = "javac -d unit3/BinarySearchIteration/build/classes -cp unit3/BinarySearchIteration/src unit3/BinarySearchIteration/src/binarysearchiteration/BinarySearchIteration.java && java -cp unit3/BinarySearchIteration/build/classes binarysearchiteration.BinarySearchIteration"

# 3.3 BinarySearchFileRead
##########################

run = "javac -d unit3/BinarySearchFileRead/build/classes -cp unit3/BinarySearchFileRead/src unit3/BinarySearchFileRead/src/binarysearch/BinarySearch.java && java -cp unit3/BinarySearchFileRead/build/classes binarysearch.BinarySearch"



#java -cp unit3/BinarySearchFileRead:unit3/BinarySearchFileRead/build/classes binarysearch.BinarySearch    

#####################################
# unit 4
#####################################

# to do


#####################################
# OOP - javatutorial.net
#####################################


# abstraction
#############

# notice there is no main()

# run = "javac net/javatutorial/oop/abstraction/Contractor.java net/javatutorial/oop/abstraction/Employee.java net/javatutorial/oop/abstraction/FullTimeEmployee.java"


# encapsulation
###############

# run = "javac net/javatutorial/oop/encapsulation/EncapsulationExample.java net/javatutorial/oop/encapsulation/Car.java && java net.javatutorial.oop.encapsulation.EncapsulationExample"


# inheritance
#############

# run = "javac net/javatutorial/oop/inheritance/Point.java  net/javatutorial/oop/inheritance/PointColored.java  net/javatutorial/oop/inheritance/InheritanceExample.java && java net.javatutorial.oop.inheritance.InheritanceExample"


# polymorphism
##############

# run = "javac net/javatutorial/oop/polymorphism/Animal.java net/javatutorial/oop/polymorphism/Cat.java net/javatutorial/oop/polymorphism/Dog.java net/javatutorial/oop/polymorphism/PolymorphismExample.java && java net.javatutorial.oop.polymorphism.PolymorphismExample"


#####################################
# optional
#####################################

language = "java" 

# note: cannot change version
# openjdk version "11.0.8" 2020-07-14
# openjdk version "11.0.7" 2020-04-14
