#####################################
# run all 
#####################################

# run = "java -version && javac Main.java && java -cp . Main"


#####################################
# clean all
#####################################

# run = "rm *.class unit1/*.class unit1/helloworld/*.class"


#####################################
# unit 1
#####################################

# run = "javac unit1/Unit1Main.java && java -cp . unit1.Unit1Main"

# 1.3 assignment starter
########################

# run = "java -version && javac unit1/helloworld/HelloWorldGui.java && java -cp . unit1.helloworld.HelloWorldGui"

# 1.4 div mod app eclipse
#########################

# run = "javac -d ide-project/eclipse-2020-06/DivModApp/bin ide-project/eclipse-2020-06/DivModApp/src/DivModApp.java && java -cp .:ide-project/eclipse-2020-06/DivModApp/bin DivModApp"

# 1.4 div mod app netbeans
##########################

# run = "javac -d ide-project/netbeans-12/DivModApp/build/classes ide-project/netbeans-12/DivModApp/src/DivModApp.java && java -cp .:ide-project/netbeans-12/DivModApp/build/classes DivModApp"

# 1.4 div mod app intellij
##########################

# run = "javac -d ide-project/intellij-2020-1-2/DivModApp/bin -cp .:./ide-project/intellij-2020-1-2/DivModApp/bin  ide-project/intellij-2020-1-2/DivModApp/src/DivModApp.java && java -cp .:ide-project/intellij-2020-1-2/DivModApp/bin DivModApp"

# 1.5.2 roller coaster
######################

# run = "javac -d ide-project/eclipse-2020-06/RollerCoaster/bin ide-project/eclipse-2020-06/RollerCoaster/src/RollerCoaster.java && java -cp .:ide-project/eclipse-2020-06/RollerCoaster/bin/ RollerCoaster"


#####################################
# unit 2
#####################################

# run = "javac unit2/Unit2Main.java && java -cp . unit2.Unit2Main"

# 2.2 student records eclipse
#############################

# run = "javac -d ide-project/eclipse-2020-06/StudentRecords/bin ide-project/eclipse-2020-06/StudentRecords/src/StudentRecord.java && java -cp .:ide-project/eclipse-2020-06/StudentRecords/bin/ StudentRecord"

# 2.2 student records netbeans
##############################

# run = "javac -d ide-project/netbeans-12/StudentRecordsProject/build/classes ide-project/netbeans-12/StudentRecordsProject/src/StudentRecords.java && java -cp .:ide-project/netbeans-12/StudentRecordsProject/build/classes StudentRecords"

# 2.2 sum element
#################

# run = "javac -d ide-project/eclipse-2020-06/SumElement/bin ide-project/eclipse-2020-06/SumElement/src/SumElement.java && java -cp .:ide-project/eclipse-2020-06/SumElement/bin/ SumElement"

# 2.3 matching game
###################

# run = "javac -d ide-project/netbeans-12/MatchingGame/build/classes ide-project/netbeans-12/MatchingGame/src/MatchingGame.java && java -cp .:ide-project/netbeans-12/MatchingGame/build/classes MatchingGame"

# 2.5 tictactoe game
####################

# note: the window is too big for repl.it, please download and run in NetBeans first

# run = "javac -d ide-project/netbeans-12/TicTac/build/classes ide-project/netbeans-12/TicTac/src/TicTacEvent.java ide-project/netbeans-12/TicTac/src/TicTac.java && java -cp .:ide-project/netbeans-12/TicTac/build/classes TicTac"

# 2.6 ObjectArrayExample_1
##########################

# run = "javac -d ide-project/netbeans-12/ObjectArrayExample_1/build/classes ide-project/netbeans-12/ObjectArrayExample_1/src/objectarrayexample/ObjectArrayExample.java && java -cp .:ide-project/netbeans-12/ObjectArrayExample_1/build/classes objectarrayexample.ObjectArrayExample"

# 2.6 ArrayListSolution
#######################

# run = "javac -d ide-project/netbeans-12/ArrayListSolution/build/classes ide-project/netbeans-12/ArrayListSolution/src/arraylistexample/Main.java && java -cp .:ide-project/netbeans-12/ArrayListSolution/build/classes arraylistexample.Main"

# 2.6 CarsExample
#################

# see read me pdf
# note: resources are in ide-project/netbeans-12/CarsExample/src 

run = "javac -d ide-project/netbeans-12/CarsExample/build/classes -cp ide-project/netbeans-12/CarsExample/lib/appframework-1.0.3.jar:ide-project/netbeans-12/CarsExample/lib/swing-worker-1.1.jar:ide-project/netbeans-12/CarsExample/lib/swing-layout-1.0.3.jar ide-project/netbeans-12/CarsExample/src/carsexample/CarsExampleApp.java ide-project/netbeans-12/CarsExample/src/carsexample/CarsExampleAboutBox.java ide-project/netbeans-12/CarsExample/src/carsexample/CarsExampleView.java && cp -r ide-project/netbeans-12/CarsExample/src/carsexample/resources ide-project/netbeans-12/CarsExample/build/classes/carsexample/ && java -cp .:ide-project/netbeans-12/CarsExample/build/classes:ide-project/netbeans-12/CarsExample/lib/appframework-1.0.3.jar:ide-project/netbeans-12/CarsExample/lib/swing-worker-1.1.jar:ide-project/netbeans-12/CarsExample/lib/swing-layout-1.0.3.jar carsexample.CarsExampleApp"


#####################################
# unit 3
#####################################

# to do


#####################################
# optional
#####################################

language = "java" 

# note: cannot change version
# openjdk version "11.0.8" 2020-07-14
# openjdk version "11.0.7" 2020-04-14
